.componente-fijo {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegúrate de que el componente fijo esté por encima del contenido desplazable */
  }
  .componente-derecha {
    flex: 0.5;
/* Define el ancho del componente */ /* Opcional: define la altura del componente al 100% */
    margin: 15px;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 90vh;
    border-color: blue;
    background-color: #77e7cf; /* Color de fondo del componente */



}
.componente-izquierda{
    margin: 30px;
    overflow-y: auto;
    flex:1;
    max-height: 100vh;
    


}

.contenedor{
    display: flex;
    position: fixed;
}