<div class="contenedor">
    <div class="mt-3">
        <p class="texto">Ingresa tus datos para añadir productos y hacer la compra</p>
    </div>

    <div>
        
        <div class="input-group flex-nowrap mt-3">
            <span class="input-group-text" id="addon-wrapping"><img src="/../../../../../../../assets/person-badge.svg"></span>
            <input type="text" class="form-control" placeholder="Identificación" aria-label="Username" aria-describedby="addon-wrapping">
        </div>


        <div class="input-group flex-nowrap mt-3">
            <span class="input-group-text" id="addon-wrapping"><img src="/../../../../../../../assets/key.svg"></span>
            <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="addon-wrapping">
        </div>
    </div>
</div>
    


